table,
th,
td {
  border: 1px solid black;
}

th,
td {
  text-align: center;
  padding: 0.5rem;
}

.msg {
  color: #f56;
  font-size: 1.25rem;
  letter-spacing: 0.8rem;
}

h2 {
  margin-bottom: 1rem;
}
